/* Define o box-sizing globalmente para border-box e redefine margens e preenchimentos padrão para 0 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease; /* Adiciona uma transição suave para todas as propriedades com duração de 0.3 segundos */
}

/* Estilização básica do corpo da página */
body {
  background-color: #0000FF;
  margin: 0;
  padding: 0;
}

/* Estilos para a classe .logo e a imagem dentro de nav.navbar */
.logo,
nav.navbar img {
  width: 75px;
  height: 75px;
}

/* Estilos para a navegação (.navbar) */
nav.navbar {
  background: #0000FF;
  background: -webkit-linear-gradient(-135deg, #0000FF, rgb(255, 0, 119)); /* Substitua #000000 pela cor desejada */
  font-size: 15px;
  justify-content: space-between; /* Isto alinha os itens da navegação e o formulário de pesquisa nas extremidades da barra de navegação */
}

/* Estilos para os links de navegação */
a.nav-link {
  color: #FFFF;
  transition: color 0.3s ease; /* Adiciona uma transição suave para a cor com duração de 0.3 segundos */
}

/* Estilos para os links de navegação quando o mouse está sobre eles */
a.nav-link:hover {
  color: #000;
}

/* Estilos para a classe .nav-nav (display flex) */
.nav-nav {
  display: flex;
}

/* Margem à esquerda para os itens de navegação (.nav-item) */
.nav-item {
  margin-left: 10rem;
  position: relative;
}

/* Estilos para a classe .login */
div.login {
  background: #293462;
  background: -webkit-linear-gradient(-135deg, #220a4c, #444);
  border-radius: 10px;
  text-align: center;
  width: 150px;
}

/* Estilos para a classe .basecard */
.basecard {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para a classe .container-lg */
.container-lg {
  display: flex;
}

/* Adicione esta regra ao seu arquivo CSS */
.nav-item:hover .submenu {
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  background-color: transparent; /* Fundo transparente do submenu */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra do submenu */
  padding: 10px;
  z-index: 1;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease; /* Transição suave para a opacidade e a transformação com duração de 0.3 segundos */
}

.nav-item:hover .submenu {
  opacity: 1;
  transform: translateY(0);
}

.submenu a {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  background: -webkit-linear-gradient(-135deg, #fff, rgb(233, 6, 249));
  transition: color 0.3s ease; /* Transição suave para a cor com duração de 0.3 segundos */
}

.submenu a:hover {
  color: #555; /* Altera a cor ao passar o mouse sobre o link do submenu */
}
